@{
    ViewBag.Title = "Index";
}

@model SelectList
    <h1>@ViewData["Message"]</h1>
    <h2>Список</h2>
    <ol type="A">
        @for (int i = 1; i <= 5; ++i)
        {
            <li>элемент @i списка</li>
        }
    </ol>
    <hr />
    <h2>Форма</h2>
    <form method="post">
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <select name="selDemo" asp-items="Model"></select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Чек-бокс 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck2" name="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                        Чек-бокс 2
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Радио 1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Радио 2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Радио 3</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputLogin" class="col-sm-2 col-form-label">Логин:</label>
            <div class="col-sm-10">
                <input type="Text" class="form-control" id="inputLogin" placeholder="Введите имя" name="login">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Пароль:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль" name="password">
            </div>
        </div>
        <button type="submit" class="mb-3 btn btn-primary">Отправить</button>
    </form>